* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(#2a0000, #000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 400px;
  width: 200px;
}

/* HAND */
.hand {
  width: 120px;
  height: 45px;
  background: #f2c6a0;
  border-radius: 25px;
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  position: absolute;
  color: pink;
  font-size: 18px;
  font-family: cursive;
  z-index: 10;
}

.string {
  width: 4px;
  height: 200px;
  background: white;
  margin: auto;
}

.yo-yo {
  width: 90px;
  height: 90px;
  background: radial-gradient(circle, #ff3b3b, #a00000);
  border-radius: 50%;
  margin: auto;
  animation: spin 0.6s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
